@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@300&family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: white;
    background-color: #804000;
}

/* headings and logo */

h1,
h2 {
    font-family: BioRhyme, sans-serif;
    letter-spacing: 3px;
    color: white;
    font-size: 60px;
    letter-spacing: 15px;
    
}

#logo {
    float: left;
}

.header img {
    float: left;
    width: 125px;
    height: 125px;
    background: #555;
  }
  
  .header h1 {
    position: relative;
    top: 18px;
    left: 10px;
  }

  .header a {
    text-decoration: none;
    color:white
  }

/* nav links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}


/* hero image and cover text */

#hero-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text {
    color: white;
}

#hero-image {
    height: 800px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
}
